In [1]:
import numpy as np
import statistics

In [10]:
class KNN:
    def __init__(self,k,distance_metric):
        self.k = k
        self.distance_metric = distance_metric
    def get_distance_metric(self,p1,p2):
        dist = 0
        if self.distance_metric == "eucliden":
            for i in range(len(p1)):
                dist += (p1[i]-p2[i])**2
            return np.sqrt(dist)
        if self.distance_metric == "manhattan":
            for i in range(len(p1)):
                dist += np.abs(p1[i]-p2[i])
            return dist
    def get_nearest_neighbors(self,allTargetPoints,unkownPoints):
        allDistance = []
        for i in range(allTargetPoints.shape[0]):
            distance = self.get_distance_metric(unkownPoints,allTargetPoints[i])
            allDistance.append((allTargetPoints[i][-1],distance))
            
        allDistance.sort(key=lambda x:x[1])
        nearestNeighbors = []
        for i in range(self.k):
            nearestNeighbors.append(allDistance[i][0])
        return statistics.mode(nearestNeighbors)
    def predict(self,traningData,testDate):
        result = []
        for i in range(testDate.shape[0]):
            result.append(self.get_nearest_neighbors(traningData,testDate[i]))
        return result

In [16]:
import pandas as pd
data = pd.read_csv("diabetes.csv")
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [17]:
data.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [18]:
x = data[['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age']]

In [19]:
y = data.Outcome

In [20]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
x_train = pd.concat([x_train,y_train],axis=1)
x_test = pd.concat([x_test,y_test],axis=1)
x_train = np.array(x_train)
x_test = np.array(x_test)

In [40]:
knn = KNN(k=3,distance_metric="eucliden")

In [41]:
prediction = knn.predict(x_train,x_test)

In [42]:
prediction[0:10]

[1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0]

In [36]:
y_test[0:10]

669    0
248    0
199    1
138    0
485    1
604    1
496    0
659    1
632    0
458    1
Name: Outcome, dtype: int64